
.ads-img1 {
    position: absolute;
    top: 9.813rem;
    right: 1.875rem;
    border-radius: 20px;
    width: 24.375rem;
    height: 18.281rem;
    object-fit: cover;
}

.ads-img3,
.ads-img2 {
    position: absolute;
    top: 9.813rem;
    left: 1.813rem;
    border-radius: 20px;
    width: 25rem;
    height: 18.75rem;
    object-fit: cover;
}

.ads-img3 {
    top: 32.063rem;
    left: 5.563rem;
    width: 17.5rem;
    height: 13.438rem;
}

.b72 {
    position: absolute;
    top: 0.625rem;
    left: 1.875rem;
}

.wrapper14,
.wrapper15,
.wrapper16,
.wrapper17 {
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    background-color: #fff;
    width: 11rem;
    height: 2.938rem;
}

.wrapper15,
.wrapper16,
.wrapper17 {
    width: 8.75rem;
}

.wrapper16,
.wrapper17 {
    width: 7.5rem;
}

.wrapper17 {
    width: 7rem;
}

.section1-wrapper1-parent1 {
    /*position: absolute;*/
    height: 100%;
    top: 0;
    left: calc(50% - 292px);
    width: 36.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625rem;
}

.section1-wrapper1 {
    /* position: relative; */
    width: 100%;
    height: 2.938rem;
    /* margin-right: 0.125rem; */
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span9 {
    color: #000;
}

.b76 {
    position: absolute;
    top: 0.563rem;
    letter-spacing: 0;
    font-size: 3.25rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.group-child90 {
    left: calc(50% + 72px);
}

.group-child90,
.group-child91,
.group-child92 {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 0.813rem;
    height: 0.813rem;
}

.group-child91 {
    left: calc(50% + 133px);
}

.group-child92 {
    right: 19rem;
}

.section1-wrapper2 {
    position: relative;
    width: 100%;
    height: 4.875rem;
    color: #e54600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-child93 {
    position: relative;
    width: 20.75rem;
    height: 5rem;
}

.b77 {
    position: absolute;
    top: -0.318rem;
    left: 1rem;
}

.mask-group-11 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mask-group-1-container {
    position: relative;
    width: 27.125rem;
    height: 3.606rem;
}

.section1-wrapper3 {
    width: 49.125rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.25rem;
    margin-top: -0.188rem;
    color: #000;
}

.div38 {
    position: relative;
    font-weight: 500;
}

.group-child94,
.group-child95 {
    position: absolute;
    height: calc(100% - 4px);
    width: calc(100% - 2px);
    border-radius: 67px;
}

.group-child94 {
    top: 0.25rem;
    right: 0;
    bottom: 0;
    left: 0.125rem;
    background-color: #036e43;
}

.group-child95 {
    top: 0;
    right: 0.125rem;
    bottom: 0.25rem;
    left: 0;
    background-color: #00985b;
}

.b78 {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 140px);
}

.b78 span, .b79 span {
    display: inline-block;
}

.icon-awesome-arrow-alt-circle-2 {
    position: absolute;
    top: calc(50% - 14px);
    right: 1.875rem;
    width: 1.5rem;
    height: 1.5rem;
}

.rectangle-parent8 {
    position: relative;
    max-width: 30.125rem;
    height: 5.25rem;
    color: #fff;
    width: 100%;
}

.parent26 {
    width: 50%;
    height: 7.938rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.group-child96,
.group-child97 {
    position: absolute;
    height: calc(100% - 4px);
    width: calc(100% - 2px);
    border-radius: 67px;
}

.group-child96 {
    top: 0.25rem;
    right: 0;
    bottom: 0;
    left: 0.125rem;
    background-color: #e54600;
}

.group-child97 {
    top: 0;
    right: 0.125rem;
    bottom: 0.25rem;
    left: 0;
    background-color: #fff;
    border: 1px solid #e54600;
    box-sizing: border-box;
}

.b79 {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 147px);
}

.rectangle-parent9 {
    position: relative;
    max-width: 30.125rem;
    height: 5.25rem;
    width: 100%;
}

.parent27 {
    width: 50%;
    height: 7.938rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    color: #e54600;
}

.btn-gr,
.section1 {
    width: 100%;
    max-width: 62.125rem;
    display: flex;
}

.btn-gr {
    height: 8.063rem;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.875rem;
    font-size: 1.5rem;
    color: #00985b;
}

.top-lp {
    background-color: #FEFEFE;
    background-image: linear-gradient(#F6F6F6, #FFFFFF);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 {
    /*position: absolute;*/
    margin-top: 12.25rem;
    /*left: calc(50% - 497px);*/
    height: 25.313rem;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
    text-align: center;
    font-size: 3.25rem;
    color: #131313;
}

.union-1-icon {
    position: absolute;
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    top: -0.031rem;
    right: -0.031rem;
    bottom: -0.031rem;
    left: -0.031rem;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.b80 {
    position: absolute;
    bottom: 0.9rem;
    left: 0.9rem;
    letter-spacing: 0.9px;
    line-height: 1.5rem;
    transform: rotate(350deg);
}

.group-parent86 .blank-line {
    padding: 13px;
}

.union-1-parent {
    position: relative;
    width: 5.188rem;
    height: 5.188rem;
}

.span11 {
    letter-spacing: 1.6px;
}

.span12 {
    font-size: 3rem;
    letter-spacing: 2.4px;
    color: #e54600;
}

.span13 {
    letter-spacing: -9.57px;
}

.b81 {
    position: relative;
    font-size: 2rem;
    color: #131313;
    margin-left: -2.5rem;
}

.group-parent84 {
    width: 100%;
    height: 6.406rem;
    display: flex;
    flex-direction: row;
    color: #fff;
    gap: 3rem;
    justify-content: center;
    align-items: baseline;
}

.pixta-97717616-m-icon {
    position: absolute;
    top: 6.188rem;
    left: calc(50% - 122px);
    border-radius: 156px;
    width: 14.375rem;
    height: 14.375rem;
    object-fit: cover;
}

.b82 {
    line-height: 1.875rem;
}

.wrapper18 {
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    background-color: #fff;
    width: 100%;
    height: 5.063rem;
    margin-right: 0.875rem;
    text-align: center;
}

.group-child98,
.group-child99 {
    position: relative;
    border-radius: 50%;
    width: 2.688rem;
    height: 2.688rem;
}

.group-child99 {
    width: 2.063rem;
    height: 2.063rem;
    margin-right: 1.312rem;
}

.group-parent86 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    /*height: 8.375rem;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.375rem;
}

.pixta-97717616-m-parent {
    position: relative;
    width: 18.75rem;
    height: 20.563rem;
}

.pixta-38780765-m-icon {
    position: absolute;
    top: 6.25rem;
    left: calc(50% - 115px);
    border-radius: 156px;
    width: 14.375rem;
    height: 14.375rem;
    object-fit: cover;
}

.b83 {
    position: absolute;
    width: calc(100% - 39px);
    top: calc(50% - 28.5px);
    left: 1.25rem;
    line-height: 1.875rem;
    display: inline-block;
}

.wrapper19 {
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    background-color: #fff;
    width: 18.75rem;
    height: 5.063rem;
}

.group-child100,
.group-child101 {
    position: relative;
    border-radius: 50%;
    width: 2.688rem;
    height: 2.688rem;
    margin-right: 0.875rem;
}

.group-child101 {
    width: 2.063rem;
    height: 2.063rem;
    margin-right: 2.187rem;
}

.group-parent87 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 8.438rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.375rem;
}

.pixta-38780765-m-parent {
    position: relative;
    width: 18.75rem;
    height: 20.625rem;
}

.group-parent85 {
    width: 60.688rem;
    height: 20.625rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 3.125rem;
    /*margin-left: 1.687rem;*/
    font-size: 1.25rem;
}

.b85 {
    letter-spacing: 2.8px;
    line-height: 2.25rem;
}

.wrapper21 {
    position: relative;
    border-radius: 5px;
    background-color: #fff7e8;
    width: 100%;
    height: 4.188rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.b86 {
    position: absolute;
    bottom: 0;
    left: 2.875rem;
    letter-spacing: 1.8px;
}

.group-child104 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 85px;
    background-color: #f6f6f6;
    width: 10.625rem;
    height: 10.625rem;
}

.b87 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 366px);
    letter-spacing: 1.8px;
}

.group-child105 {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 55px);
    width: 6.919rem;
    height: 4.438rem;
}

.group-wrapper12 {
    position: absolute;
    top: 0;
    left: calc(50% - 394px);
    border-radius: 85px;
    background-color: #f6f6f6;
    width: 10.625rem;
    height: 10.625rem;
}

.b88 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 160px);
    letter-spacing: 1.8px;
}

.group-child106 {
    position: absolute;
    width: calc(100% - 39px);
    top: calc(50% - 41px);
    right: 1.25rem;
    left: 1.188rem;
    max-width: 100%;
    overflow: hidden;
    height: 5.181rem;
}


.section21,
.group-parent89 {
    /*height: 18.656rem;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    font-size: 1.75rem;
}

.section21 {
    width: 75rem;
    /*height: 50.813rem;*/
    align-items: center;
    gap: 2.5rem;
    margin-right: 0.062rem;
    font-size: 1.125rem;
    color: #000;
}


.b92 {
    position: relative;
    letter-spacing: 1.6px;
}


.parent29 {
    position: absolute;
    width: 100%;
    top: calc(50% - 129.5px);
    height: 16.188rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.group-parent92 {
    background-image: url("../img/setcion3-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    height: calc(100% - 41px);
    width: 100%;
    top: 2.563rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.polygon-icon {
    position: relative;
    width: 2.5rem;
    height: 0.975rem;
}

.vector-parent {
    position: absolute;
    width: 100%;
    top: calc(50% - 43.4px);
    right: 0;
    left: 0;
    height: 5.425rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.union-2 {
    position: absolute;
    top: 0;
    left: calc(50% - 20px);
    /*background: linear-gradient(180deg, #e5e5e5, #fff);*/
    width: 2.5rem;
    height: 4.875rem;
}

.section22 {
    position: relative;
    width: 100%;
    height: 27.5rem;
    align-self: flex-start;
    color: #fff;
}

.b95 {
    letter-spacing: 2.4px;
}

.group-child120 {
    border-radius: 3px;
    background-color: #e54600;
    width: 3.75rem;
    height: 0.375rem;
}

.parent32 {
    position: relative;
    width: 100%;
    height: 5.719rem;
}

.pixta-90558733-m-icon {
    position: relative;
    border-radius: 20px;
    width: 20.625rem;
    height: 15.469rem;
    object-fit: cover;
}

.b96,
.b97 {
    position: relative;
}

.b96 {
    margin-bottom: 0.125rem;
}

.b97 {
    font-size: 2rem;
    letter-spacing: 1.6px;
    color: #e54600;
}

.parent33 {
    width: 100%;
    /*height: 2.688rem;*/
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.312rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
}

.blank-line {
    margin: 0;
}

.div42 {
    position: relative;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}

.group-parent95 {
    width: 100%;
    /*height: 14.063rem;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    margin-top: 0.437rem;
}

.pixta-90558733-m-parent {
    width: 57.5rem;
    align-items: flex-start;
    gap: 2.5rem;
}

.group-wrapper16,
.parent34,
.pixta-90558733-m-parent {
    display: flex;
    flex-direction: row;
}

.group-wrapper16 {
    border-radius: 20px;
    background-color: #fff7e8;
    width: 100%;
    max-width: 62.5rem;
    /*height: 20.469rem;*/
    align-items: flex-start;
    padding: 2.5rem;
    box-sizing: border-box;
}


.group-parent94,
.group-parent97 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.group-parent94 {
    /*height: 65.156rem;*/
    gap: 1.875rem;
    text-align: left;
    font-size: 1.5rem;
    width: 100%;
}


.section23 {
    width: 100%;
    max-width: 62.5rem;
    /*height: 73.375rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-right: 0.062rem;
    font-size: 3rem;
}


.b104 {
    letter-spacing: 1.6px;
    display: block;
    font-size: 3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.parent38 {
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    place-items: center;
}

.b105, .div47 {
    display: inline-block;
}

.b105 {
    width: calc(100% - 10px);
    top: 0;
}

.div47 {
    margin-top: 1.25rem;
    width: calc(100% + 1px);
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #000;
}


.div48 {
    width: 100%;
    margin-top: 2rem;
}

.kn,
.parent40 {
    position: absolute;
    left: 0;
}

.kn {
    top: 0;
    font-size: 1.25rem;
}

.parent40 {
    top: calc(50% - 24px);
    width: 8.125rem;
    height: 3rem;
}


.group-wrapper21 {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 44px;
    background-color: #e5e5e5;
    width: 5rem;
}


.group-wrapper20 {
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    /*width: 36.25rem;*/
    /*height: 23.125rem;*/
}

.group-child128,
.parent41 {
    position: relative;
    max-width: 31.25rem;
    width: 100%;
    /*min-height: 9.813rem;*/
}

.group-child128 {
    border-top: 1px dashed #8e8e8e;
    box-sizing: border-box;
    width: 100%;
    max-width: 31.281rem;
    height: 0.125rem;
}

.group-child129 {
    width: 100%;
}

.group-parent104 {
    position: relative;
    max-width: 31.25rem;
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    color: #000;
    font-family: "Kozuka Gothic Pr6N";
}

.group-parent103 {
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.562rem;
}


.group-parent98,
.group-parent99 {
    display: flex;
    flex-direction: column;
}

.group-parent99 {
    width: 100%;
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 1.875rem;
    text-align: left;
    font-size: 1.5rem;
    color: #e54600;
}

.group-parent98 {
    align-items: center;
    gap: 2.5rem;
    margin-top: 6.5rem;
}


.section24 {
    background-image: url("../img/section5-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70.125rem;
    margin-top: 0.625rem;
    align-self: flex-start;
}


.b110,
.mask-group-4 {
    position: relative;
    font-weight: bold;
    text-decoration: none;
    color: #131313;
}

.b111 {
    color: white;
}

a {
    text-decoration: none;
    color: unset;
}


.path-165-parent {
    text-align: center;
    color: #e54600;
}

.path-165-parent img {
    width: 100%;
}


.section25 {
    width: 100%;
    max-width: 75rem;
    /*height: 41.219rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 2.5rem;
    margin-right: 0.062rem;
    text-align: center;
    font-size: 2rem;
    color: #131313;
}


.path-168-icon {
    width: 1.388rem;
}


.parent55 {
    display: flex;
    gap: 2.5rem;
    position: relative;
    width: 100%;
    min-height: 3.75rem;
    align-self: flex-end;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
}

.accordion-content-grid {
    display: flex;
    gap: 2.5rem;
    margin: 1rem 0;
}

.group-child142 {
    position: relative;
    border-top: 1px dashed #8e8e8e;
    box-sizing: border-box;
    width: 100%;
    height: 0.125rem;
    margin-left: 0.062rem;
}

.path-169-icon {
    width: 1.3rem;
    height: 1.481rem;
}

.div61 {
    position: relative;
    line-height: 1.75rem;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    padding-right: 1.25rem;
}

.b122 {
    position: absolute;
    top: 0.15rem;
    left: 1.25rem;
}

.wrapper22 {
    position: relative;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid #e54600;
    box-sizing: border-box;
    width: 9.313rem;
    height: 1.938rem;
    color: #e54600;
}

.parent56 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

.path-169-parent {
    position: relative;
    /*width: 56.881rem;*/
    height: unset;
    font-size: 1rem;
    color: #000;
}

.group-parent117 {
    /*height: 9.894rem;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.937rem;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #e54600;
    box-sizing: border-box;
    width: 100%;
}

.group-parent116 {
    width: 100%;
    /*height: 50.944rem;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    text-align: left;
    font-size: 1.125rem;
}

.group-parent115 {
    width: 62.538rem;
    /*height: 59.163rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}


.group-parent114 {
    background-color: #fff7e8;
    border-top: 4px solid #e54600;
    border-radius: 20px;
    width: 100%;
    max-width: 75.038rem;
    /*height: 69.413rem;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5.25rem 6.25rem 5rem;
    box-sizing: border-box;
    margin-top: 2.5rem;
}

.group-child148 {
    position: absolute;
    width: 100%;
    top: calc(50% - 19.02px);
    right: 0;
    left: 0;
    border-radius: 15px 0 0 15px;
    background-color: #fff;
    border: 1px solid #e54600;
    box-sizing: border-box;
    height: 3.063rem;
}

.icon-awesome-arrow-alt-circle-10 {
    position: relative;
    width: 0.938rem;
    height: 0.938rem;
}

.icon-awesome-arrow-alt-circle-parent {
    /*width: 7.438rem;*/
    height: 1.313rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.312rem;
    margin-top: 0.687rem;
}

.group-child149 {
    position: relative;
    width: 9.988rem;
    height: 6.25rem;
    background-image: url("../img/back-top-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.group-parent122 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 2rem;
    width: 18.863rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
}

.rectangle-parent17 {
    position: relative;
    width: 21.875rem;
    height: 6.25rem;
    font-size: 1rem;
    color: #e54600;
}


.group-child154 {
    position: relative;
    width: 15.563rem;
    height: 3.75rem;
}

.b132 {
    position: relative;
    letter-spacing: 0.17px;
    color:  #131313;
}

.group-parent127 {
    position: absolute;
    top: calc(50% - 51px);
    left: 0;
    /*width: 15.563rem;*/
    height: 6.375rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.937rem;
}

.parent65,
.parent66 {
    /*position: absolute;*/
    display: flex;
    flex-direction: row;
}

.parent65 {
    height: 1.313rem;
    align-items: flex-start;
    gap: 3.125rem;
}

.parent66 {
    position: absolute;
    height: calc(100% - 10px);
    top: 0.313rem;
    bottom: 0.313rem;
    left: 1rem;
    align-items: center;
    gap: 0.625rem;
}

.group-wrapper38 {
    position: relative;
    right: 0;
    bottom: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    background-color: #e54600;
    width: 12.875rem;
    height: 1.938rem;
    text-align: center;
    color: #fff;
}

.group-parent128 {
    position: relative;
    /* top: 0.188rem; */
    /* right: 0; */
    /*width: 100%;*/
    height: 4.5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}

.group-child155,
.group-parent126 {
    position: relative;
    max-width: 75rem;
    height: 6.375rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.group-child155 {
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    max-width: 75.063rem;
    width: 100%;
    height: 0.125rem;
}

.div67,
.div68 {
    position: absolute;
    top: 0;
}

.div67 {
    right: -0.062rem;
    color: #131313;
}

.div68 {
    left: 0;
    text-decoration: underline;
    color: #131313;
}

.parent67 {
    position: relative;
    width: 74.125rem;
    height: 1.188rem;
    text-align: center;
    font-size: 0.875rem;
}

.group-parent125 {
    position: absolute;
    height: 10.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.562rem;
    width: 100%;
    margin-top: 3.75rem;
    max-width: 75rem;
}

.section4 {
    background: linear-gradient(180deg, #f6f6f6, #fff);
    width: 100%;
    height: 16.375rem;
    text-align: left;
    font-size: 1.188rem;
    display: flex;
    justify-content: center;
}

.section2,
.vector-group {
    /*position: absolute;*/
    display: flex;
    flex-direction: column;
}


.section2 {
    width: 100%;
    align-items: center;
    gap: 5rem;
    text-align: center;
    font-size: 2rem;
    color: #131313;
    background: #FFFFFF;
    padding-top: 80px;
}

.vector-group {
    margin-top: 6.6rem;
    margin-bottom: 5.688rem;
    width: 2.5rem;
    height: 3.2rem;
    align-items: flex-start;
    gap: 1.25rem;
}

.ads-img6 {
    top: 3rem;
    left: calc(50% + 336px);
    width: 16.5rem;
    height: 8.875rem;
    z-index: 1;
}

.ads-img6,
.ads-img5,
.mask-group-9 {
    position: absolute;
    object-fit: cover;
}

.ads-img5 {
    top: -4.5rem;
    left: calc(50% - 630px);
    width: 18.75rem;
    height: 12.375rem;
    z-index: 1;
}

.mask-group-9 {
    max-width: 100%;
    max-height: 100%;
}

.ads-img4 {
    position: absolute;
    top: 33rem;
    right: 3.75rem;
    width: 20rem;
    height: 17.75rem;
    font-size: 1.125rem;
    color: #5b5b5b;
    font-family: "Mplus 1p";
}


.group-container1__child1 {
    position: relative;
    width: 11.988rem;
    height: 2.888rem;
}

.group-container11,
.group-container1__child2 {
    display: flex;
    flex-direction: row;
}

.group-container1__child2 {
    height: 1.5rem;
    align-items: flex-start;
    gap: 2.5rem;
    margin-top: 0.25rem;
}

.group-container11 {
    /*position: absolute;*/
    height: calc(100% - 2px);
    top: 0;
    bottom: 0.125rem;
    left: 0;
    align-items: center;
    gap: 5rem;
}

.b144 {
    position: absolute;
    top: 0.425rem;
    left: 1.563rem;
}

.group-container12__child1,
.group-container12__child2 {
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 24px;
    background-color: #00985b;
    width: 12.25rem;
    height: 2.75rem;
}

.group-container12__child2 {
    background-color: #fff;
    border: 1px solid #e54600;
    box-sizing: border-box;
    width: 12rem;
    height: 2.688rem;
    color: #e54600;
}

.group-container12 {
    /*position: absolute;*/
    height: calc(100% - 4.2px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625rem;
    text-align: center;
    color: #fff;
    flex-basis: 100%;
}

@media (min-width: 769px) {
    .group-container12 {
        flex-direction: column;
        height: auto;
    }
}

@media (min-width: 1300px) {
    .group-container12 {
        flex-direction: row;
        height: auto;
    }
}

.group-container1 {
    position: absolute;
    /*width: calc(100% - 147px);*/
    top: calc(50% - 24.19px);
    right: 5.438rem;
    left: 3.75rem;
    height: 3.013rem;
    margin: 0 auto;
    min-width: auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column
}

.top-menu-pc {
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 5.625rem;
    font-size: 1.125rem;
    color: #131313;
}

.lp {
    /*background-color: #F6F6F6;*/
    width: 100%;
    text-align: left;
    font-size: 1rem;
    color: #c7c7c7;
    font-family: "Noto Sans JP";
    display: flex;
    align-items: center;
    flex-direction: column;
}


.group-parent146 {
    /* height: 40.188rem; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.25rem;
    font-size: 1.125rem;
}

.group-parent147 {
    width: 21.875rem;
    height: 12.563rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625rem;
}

.group-parent148 {
    width: 10.625rem;
    height: 12.563rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.312rem;
}

.group-wrapper39 {
    position: relative;
    border-radius: 85px;
    background-color: #f6f6f6;
    width: 10.625rem;
    height: 10.625rem;
}

/*.group-child175 {*/
/*    position: absolute;*/
/*    top: calc(50% - 45px);*/
/*    left: calc(50% - 43px);*/
/*    width: 5.344rem;*/
/*    height: 5.688rem;*/
/*}*/

.b162 {
    position: relative;
    letter-spacing: 1.8px;
}

.group-child175, .group-child176 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.back-top-section {
    width: 100%;
    margin-top: 3.75rem;
    display: flex;
    justify-content: flex-end;
}

.section3 {
    position: relative;
    width: 100%;
    background-image: url(../img/setcion3-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 16.688rem;
}

.section3 .parent29 {
    height: 16.688rem;
    top: unset;
}

.section3 .btn-gr {
    align-items: center;
    height: 16.688rem;
}

.side-menu .btn-gr {
    margin-top: 38px;
}

.top-menu-sp {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: #f6f6f6;*/
    width: 100%;
    height: 3.981rem;
}

.side-menu-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 25px;
}

.group-container2 {
    position: absolute;
    height: calc(100% - 30px);
    width: calc(100% - 40px);
    top: 0.938rem;
    right: 1.25rem;
    bottom: 0.938rem;
    left: 1.25rem;
}

.group-container21 {
    position: absolute;
    height: 100%;
    top: 0;
    right: 60%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-container22 {
    width: 1.313rem;
    height: 0.313rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.187rem;
}


.group-container22 {
    position: absolute;
    top: calc(50% - 10.85px);
    right: 0;
    height: 1.313rem;
    flex-direction: column;
    cursor: pointer;
}

.bottom-btn-gr-sp {
    display: none;
}

input {
    display: none;
}

label {
    cursor: pointer;
    transition: ease .5s;
    position: relative;
}

.accordion label::after {
    content: '+';
    font-size: 1.9rem;
    font-weight: bold;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    color: #FF0000;
}

input:checked + label::after {
    content: '-';
}

.accordion-content {
    /*background: #E2E5F6;*/
    /*padding: 10px 25px;*/
    /*border: 1px solid #A7A7A7;*/
    /*margin: 0 0 1px 0;*/
    /*border-radius: 3px;*/
}

input + label + .accordion-content {
    display: none;
}

input:checked + label + .accordion-content {
    display: block;
}

.accordion-wrapper {
    width: 100%;
}

.group-child176-last-icon {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.side-menu.open {
    width: 100%;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: #EB6200;
    overflow-x: hidden;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.side-menu .menu-link {
    color: white;
    border-bottom: 1px dashed var(--white);
    margin: 0 1.25rem;
    text-align: center;
    padding: 1.5rem;
}

.fist-menu {
    border-top: 1px dashed var(--white);
}

.side-menu a {
    text-decoration: none;
    font-size: 1.125rem;
    font-family: var(--font-family-noto_sans_jp);
    line-height: 1;
    display: block;
    transition: 0.3s;
}

.side-menu-top {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .modal,
input[type="checkbox"]:checked ~ .modal-background {
    display: block;
}

.modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    /*width: 300px;*/
    /*height: 300px;*/
    /*background-color: #fff;*/
    box-sizing: border-box;
    z-index: 9999;
}

.modal > p {
    padding: 15px;
    margin: 0;
}

.modal-header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    height: 50px;
}

.modal-header h3 {
    margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 50px;
    color: #4d4d4d;
    font-size: 16px;
    display: inline-block;
}

.modal-header label {
    box-sizing: border-box;
    border-left: 1px solid #dddddd;
    float: right;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
}

.modal-header label:hover img {
    opacity: 0.6;
}

.modal .b215 {
    position: absolute;
    top: 0.938rem;
    left: calc(50% - 136px);
}

.modal .wrapper40 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 15px 15px 0 0;
    background-color: #e54600;
    height: 3.75rem;
}

.modal .b216,
.modal .div100 {
    position: relative;
}

.modal .b216 {
    margin-top: 0.062rem;
}

.modal .div100 {
    font-size: 0.75rem;
    color: #e54600;
}

.modal .parent113 {
    position: absolute;
    top: 0;
    left: 0;
    width: 4.125rem;
    height: 1.375rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.312rem;
}

.modal .group-child243 {
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    box-sizing: border-box;
    width: 9.375rem;
    height: 2.25rem;
}

.modal.group-parent207,
.modal .parent114 {
    width: 11rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
}

.modal .group-parent207 {
    position: absolute;
    bottom: 0;
    left: calc(50% - 181px);
    width: 22.625rem;
    height: 2.25rem;
    align-items: flex-start;
}

.modal .group-parent206 {
    position: relative;
    width: 22.625rem;
    height: 4.438rem;
}

.modal .parent116 {
    position: absolute;
    top: 0;
    left: 0;
    width: 9.125rem;
    height: 1.375rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.312rem;
}

.modal .group-child245 {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    box-sizing: border-box;
    height: 2.25rem;
}

.modal .parent117 {
    position: absolute;
    top: 0;
    left: 0;
    width: 6.125rem;
    height: 1.375rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.312rem;
}

.modal .icon-awesome-check {
    position: absolute;
    height: calc(100% - 7.3px);
    width: calc(100% - 4.3px);
    top: 0.227rem;
    right: 0.135rem;
    bottom: 0.229rem;
    left: 0.134rem;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.modal .icon-awesome-check-wrapper {
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e54600;
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
}

.modal .div105 {
    position: relative;
}

.modal .checkbox {
    width: 15.375rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.375rem;
    margin-top: 0.312rem;
    margin-left: 0.062rem;
    text-align: center;
    font-family: "Kozuka Gothic Pr6N";
}

.modal .group-child247 {
    position: relative;
    border-top: 1px dashed #8e8e8e;
    box-sizing: border-box;
    width: 22.625rem;
    height: 0.125rem;
    margin-top: 0.312rem;
    align-self: flex-end;
}

.modal .b219 {
    position: absolute;
    top: calc(50% - 9.56px);
    left: calc(50% - 87.5px);
}

.modal .wrapper41 {
    position: relative;
    border-radius: 5px;
    background-color: #e54600;
    width: 16.188rem;
    height: 3rem;
    margin-top: 0.312rem;
    margin-left: 3rem;
    color: #fff;
}

.modal .group-parent205 {
    position: absolute;
    width: calc(100% - 70px);
    top: calc(50% - 197px);
    right: 2.188rem;
    left: 2.188rem;
    height: 24.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.modal .group-wrapper74 {
    position: absolute;
    height: calc(100% - 61px);
    width: 100%;
    top: 3.813rem;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0 0 15px 15px;
    background-color: #f6f6f6;
    text-align: left;
    font-size: 1rem;
    color: #000;
}

.modal .group-parent204 {
    position: absolute;
    top: 16.438rem;
    left: 44rem;
    width: 27rem;
    height: 31.563rem;
}

.form-group {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-top: 2px;
    text-align: left;
    font-size: 16px;
    color: #292929;
    font-style: normal;
    font-weight: 400;
}

.form-item {
    min-height: 37px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

body {
    margin: 0;
    line-height: normal;
}

.b {
    display: inline-block;
    font-size: 1.5rem;
    margin: auto;
}

.group-div1 {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    border-radius: 15px 15px 0px 0px;
    background-color: #e54600;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    height: 60px;
    color: white;
}

.b1 {
    position: relative;
    font-size: 16px;
    display: inline-block;
    font-family: 'Noto Sans JP';
    color: #000;
    text-align: left;
    margin-top: 1px;
}

.div {
    position: relative;
    font-size: 12px;
    font-family: 'Noto Sans JP';
    color: #e54600;
    text-align: left;
    display: inline-block;
}

.group-label {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 66px;*/
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.group-input {
    border: none;
    background-color: transparent;
    width: 176px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-family: 'Noto Sans JP';
    color: #000;
    text-align: left;
    display: inline-block;
    margin-top: 1px;
}

.rectangle-input {
    border: 1px solid #a4a4a4;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    width: 150px;
    height: 36px;
    flex-shrink: 0;
}

.group-div5 {
    width: 176px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.group-div4 {
    position: absolute;
    bottom: 0px;
    left: calc(50% - 181px);
    width: 362px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.group-div3 {
    position: relative;
    width: 362px;
    height: 71px;
    flex-shrink: 0;
}

.group-label1 {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 146px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.rectangle-input1 {
    border: 1px solid #a4a4a4;
    background-color: #fff;
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 36px;
}

.group-label2 {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 98px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}

.path-493-input {
    border: 1px solid #a4a4a4;
    background-color: #fff;
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    height: 36px;
}

.group-input1 {
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #e54600;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.div3 {
    position: relative;
    font-size: 16px;
    font-family: 'Kozuka Gothic Pr6N';
    color: #000;
    text-align: center;
    display: inline-block;
}

.checkbox-div {
    /*width: 246px;*/
    /*height: 16px;*/
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    margin-top: 5px;
    margin-left: 1px;
}

.line-div {
    width: 100%;
    position: relative;
    border-top: 1px dashed #8e8e8e;
    box-sizing: border-box;
    height: 2px;
    flex-shrink: 0;
    margin-top: 5px;
    align-self: flex-end;
}

.b4 {
    position: absolute;
    top: calc(50% - 9.56px);
    left: calc(50% - 87.5px);
    font-size: 16px;
    display: inline-block;
    font-family: 'Noto Sans JP';
    color: #fff;
    text-align: left;
}

.group-div8 {
    position: relative;
    border-radius: 5px;
    background-color: #e54600;
    width: 259px;
    height: 48px;
    flex-shrink: 0;
    margin: 0 auto;
}

.group-form {
    position: absolute;
    width: calc(100% - 70px);
    top: calc(50% - 196px);
    right: 35px;
    left: 35px;
    height: 392px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.group-div2 {
    position: absolute;
    height: calc(100% - 61px);
    width: 100%;
    top: 61px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 15px 15px;
    background-color: #f6f6f6;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.group-div {
    width: 100%;
    max-width: 27rem;
    height: 31.438rem;
}


.modal input {
    display: block;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-div85 {
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    width: 271px;
    height: 358px;
    flex-shrink: 0;
}

.group-div86 {
    position: absolute;
    width: calc(100% - 40px);
    top: calc(50% - 159px);
    right: 20px;
    left: 20px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.group-div87 {
    position: relative;
    width: 231px;
    height: 183px;
    flex-shrink: 0;
}

.group-div88 {
    position: absolute;
    width: 100%;
    top: calc(50% - 91.5px);
    right: 0px;
    left: 0px;
    height: 183px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.b35 {
    position: relative;
    letter-spacing: -0.43px;
    display: inline-block;
    width: 232px;
}

.div9 {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 232px;
}

.line-div {
    position: relative;
    border-top: 1px dashed #8e8e8e;
    box-sizing: border-box;
    height: 2px;
    flex-shrink: 0;
    align-self: center;
}

.group-div89 {
    position: relative;
    width: 229.58px;
    height: 60px;
    flex-shrink: 0;
    font-size: 14px;
    color: #000;
}

.group-div90 {
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 44px;
    background-color: #e5e5e5;
    width: 60px;
}

.group-icon11 {
    position: absolute;
    top: calc(50% - 19.57px);
    right: 7.91px;
    width: 41.69px;
    height: 39.15px;
}

.div10 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: inline-block;
}

.yt-b {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    display: inline-block;
    color: #131313;
}

.b121 {
    margin: auto 0;
}

@media (max-width: 768px) {
    #show {
        display: none;
    }

    .rectangle-parent17 {
        width: 100%;
    }

    .group-child148 {
        border-radius: 0;
    }

    .bottom-btn-gr-sp {
        margin: 10px;
        z-index: 999;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: transparent;
        display: flex;
        flex-direction: column;
    }

    .bottom-btn-gr-sp .parent26, .bottom-btn-gr-sp .parent27 {
        top: unset;
        justify-content: center;
    }

    .lp {
        /*position: relative;*/
        height: unset;
        text-align: center;
        font-size: 0.938rem;
    }

    .section1 {
        margin-top: 5.325rem;
        width: 100%;
        font-size: 1.688rem;
        gap: 0.625rem;
        height: unset;
    }

    .section1-wrapper1-parent1 {
        left: unset;
        width: 20.313rem;
        gap: 0.187rem;
    }

    .section1-wrapper1 {
        font-size: 15px;
        height: unset;
    }

    .wrapper14, .wrapper15, .wrapper16, .wrapper17 {
        position: relative;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        background-color: #fff;
        border-radius: 5px;
        width: 6.75rem;
        height: 1.875rem;
    }

    .wrapper15, .wrapper16, .wrapper17 {
        width: 5rem;
    }

    .wrapper16, .wrapper17 {
        width: 4.063rem;
    }

    .b72 {
        position: absolute;
        top: 0.313rem;
        left: 0.625rem;
    }

    .b76 {
        /*letter-spacing: 1.35px;*/
    }

    .group-child90, .group-child91, .group-child92 {
        position: absolute;
        top: 0;
        border-radius: 50%;
        width: 0.438rem;
        height: 0.438rem;
    }

    .group-child90 {
        left: calc(50% + 40px);
    }

    .group-child91 {
        left: calc(50% + 99px);
    }

    .group-child92 {
        left: calc(50% + 72px);
    }

    .section1-wrapper3 {
        position: relative;
        width: 24.375rem;
        height: 2.188rem;
        font-size: 1.5rem;
    }

    .group-child93 {
        position: absolute;
        height: 100%;
        width: 41.51%;
        top: 0;
        right: 58.49%;
        bottom: 0;
        left: 0;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
    }

    .mask-group-1-container {
        position: absolute;
        right: 0.001rem;
        bottom: 0.013rem;
        width: 13.494rem;
        height: 1.55rem;
    }

    .section1-wrapper4 {
        position: relative;
        width: 22.813rem;
        height: 14.875rem;
    }

    .section1-wrapper2 {
        /*height: 2.625rem;*/
    }

    .section3 .btn-gr {
        margin-top: 30px;
    }

    .btn-gr {

        position: relative;
        width: 21.875rem;
        height: 4.75rem;
        align-self: center;
        font-size: 1rem;
        color: #00985b;
    }

    .parent26 {
        position: absolute;
        top: calc(50% - 38px);
        left: 0;
        width: 10.625rem;
        height: 4.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }

    .div38 {
        position: relative;
        font-weight: 500;
        margin-left: 0.062rem;
    }

    .rectangle-parent8 {
        position: relative;
        width: 10.625rem;
        height: 3.125rem;
        font-size: 0.938rem;
        color: #fff;
    }

    .group-child94, .group-child94 {
        position: absolute;
        height: calc(100% - 3px);
        width: calc(100% - 2px);
        border-radius: 67px;
    }

    .group-child94 {
        top: 0.188rem;
        right: 0;
        bottom: 0;
        left: 0.125rem;
        background-color: #036e43;
    }

    .group-child95 {
        top: 0;
        right: 0.125rem;
        bottom: 0.188rem;
        left: 0;
        background-color: #00985b;
    }

    .rectangle-parent8 {
        font-size: 0.938rem;
    }

    .b78 {
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 64px);
        font-size: 0.938rem;
    }

    .icon-awesome-arrow-alt-circle-2 {
        position: absolute;
        top: calc(50% - 9.27px);
        right: 0.875rem;
        width: 1rem;
        height: 1rem;
    }

    .parent27 {
        position: absolute;
        top: calc(50% - 38px);
        right: 0;
        width: 10.625rem;
        height: 4.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        color: #e54600;
    }

    .div38 {
        position: relative;
        font-weight: 500;
        margin-left: 0.062rem;
    }

    .rectangle-parent9 {
        position: relative;
        width: 10.625rem;
        height: 3.125rem;
        font-size: 0.938rem;
    }

    .group-child96, .group-child97 {
        position: absolute;
        height: calc(100% - 3px);
        width: calc(100% - 2px);
        border-radius: 67px;
    }

    .group-child96 {
        top: 0.188rem;
        right: 0;
        bottom: 0;
        left: 0.125rem;
        background-color: #e54600;
    }

    .group-child97 {
        top: 0;
        right: 0.125rem;
        bottom: 0.188rem;
        left: 0;
        background-color: #fff;
        border: 1px solid #e54600;
        box-sizing: border-box;
    }

    .b79 {
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 70px);
    }

    .icon-awesome-arrow-alt-circle-2 {
        position: absolute;
        top: calc(50% - 9.27px);
        right: 0.875rem;
        width: 1rem;
        height: 1rem;
    }

    .mask-group-9-group {
        position: relative;
        width: 11rem;
        height: 9.75rem;
        margin-right: 0.937rem;
        text-align: left;
        font-size: 0.688rem;
        color: #5b5b5b;
        font-family: "Mplus 1p";
    }

    .mask-group-91 {
        position: absolute;
        height: calc(100% - 16px);
        width: 100%;
        top: 0;
        right: 0;
        bottom: 1rem;
        left: 0;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        object-fit: cover;
    }

    .parent73 {
        position: absolute;
        bottom: 0;
        height: 0.938rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 2rem;
    }

    .b154, .b155 {
        position: relative;
        line-height: 0.688rem;
    }

    .b155 {
        font-size: 0.625rem;
    }

    .b78 span, .b79 span {
        display: none;
    }

    .group-parent85 {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: unset;
        gap: 0.625rem;
        font-size: 0.938rem;
        color: #000;
    }

    .group-parent84 {
        gap: 0;
    }

    .union-1-parent {
        width: 4.188rem;
        height: 4.188rem;
        font-size: 0.875rem;
    }

    .union-1-icon {
        position: absolute;
        height: calc(100% + 1px);
        width: calc(100% + 1px);
        top: -0.031rem;
        right: -0.031rem;
        bottom: -0.031rem;
        left: -0.031rem;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
    }

    .b81 {
        font-size: 1.375rem;
        letter-spacing: 1.1px;
        color: #131313;
    }

    .span12 {
        font-size: 1.875rem;
        letter-spacing: 1.5px;
        color: #e54600;
    }

    .b80 {
        left: 0.8rem;
    }

    .vector-group {
        margin-top: 3.125rem;
        margin-bottom: 3.125rem;
    }

    .section21 {
        width: 100%;
        gap: 1.875rem;
        padding-top: 52px;
    }

    .pixta-97717616-m-parent {
        position: relative;
        width: 21.875rem;
        height: 8.25rem;
    }

    .pixta-97717616-m-icon {
        position: absolute;
        top: 0;
        left: calc(50% - 175px);
        border-radius: 156px;
        width: 8.25rem;
        height: 8.25rem;
        object-fit: cover;
    }

    .group-parent86 {
        top: calc(50% - 51px);
        right: 0;
        width: 15.188rem;
        align-items: flex-start;
        gap: 0.25rem;
        left: unset;
    }

    .wrapper18 {
        position: relative;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
        border-radius: 15px;
        background-color: #fff;
        width: 14.75rem;
        height: 4.188rem;
        margin-left: 0.437rem;
    }

    .group-child98 {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 0.625rem;
    }

    .group-child99 {
        width: 1.125rem;
        height: 1.125rem;
        margin-top: -0.25rem;
    }

    .group-parent89, .parent28 {
        height: 40.188rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        font-size: 1.125rem;
    }

    .group-parent89 {
        height: 47.313rem;
        margin-right: 0.062rem;
        font-size: 1.25rem;
        color: #000;
    }

    .wrapper21 {
        height: 5.75rem;
    }

    .b85 {
        letter-spacing: 2px;
        line-height: 2.188rem;
    }

    .group-parent145, .group-parent146 {
        /* height: 40.188rem; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        font-size: 1.125rem;
    }

    .group-parent147 {
        width: 21.875rem;
        height: 12.563rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.625rem;
    }

    .group-parent148 {
        width: 10.625rem;
        height: 12.563rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.312rem;
    }

    .group-wrapper39 {
        position: relative;
        border-radius: 85px;
        background-color: #f6f6f6;
        width: 10.625rem;
        height: 10.625rem;
    }

    /*.group-child175 {*/
    /*    position: absolute;*/
    /*    top: calc(50% - 45px);*/
    /*    left: calc(50% - 43px);*/
    /*    width: 5.344rem;*/
    /*    height: 5.688rem;*/
    /*}*/
    .b162 {
        position: relative;
        letter-spacing: 1.8px;
    }

    /*.group-child176 {*/
    /*    !*position: absolute;*!*/
    /*    !*top: calc(50% - 35px);*!*/
    /*    !*left: calc(50% - 55px);*!*/
    /*    !*width: 6.919rem;*!*/
    /*    !*height: 4.438rem;*!*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*}*/
    .group-parent146 {
        /* height: 40.188rem; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        font-size: 1.125rem;
    }

    .group-parent147 {
        width: 21.875rem;
        height: 12.563rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.625rem;
    }

    .group-parent148 {
        width: 10.625rem;
        height: 12.563rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.312rem;
    }

    .group-wrapper39 {
        position: relative;
        border-radius: 85px;
        background-color: #f6f6f6;
        width: 10.625rem;
        height: 10.625rem;
    }

    /*.group-child175 {*/
    /*    position: absolute;*/
    /*    top: calc(50% - 45px);*/
    /*    left: calc(50% - 43px);*/
    /*    width: 5.344rem;*/
    /*    height: 5.688rem;*/
    /*}*/
    .b162 {
        position: relative;
        letter-spacing: 1.8px;
    }

    /*.group-child176 {*/
    /*    position: absolute;*/
    /*    top: calc(50% - 35px);*/
    /*    left: calc(50% - 55px);*/
    /*    width: 6.919rem;*/
    /*    height: 4.438rem;*/
    /*}*/
    .group-parent92 {
        font-size: 1rem;
        background-image: url("../img/section3-bg-sp.png");
        height: 14.625rem;
    }

    .parent29 {
        /*width: 21.875rem;*/
        /*height: 10.75rem;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25rem;
        padding: 1.875rem 1rem;
    }

    .b92 {
        position: relative;
        line-height: 1.625rem;
    }

    .btn-gr1 {
        position: relative;
        width: 21.875rem;
        height: 4.75rem;
    }

    .section2 {
        gap: 3.125rem;
        font-size: 1.375rem;
    }

    .section23 {
        gap: 1.562rem;
    }

    .parent32 {
        gap: 0.937rem;
    }

    .b95 {
        letter-spacing: 1.1px;
        font-size: 1.375rem;
    }

    .group-child120 {
        height: 0.175rem;
    }

    .pixta-90558733-m-parent {
        flex-direction: column;
        align-items: center;
        gap: 0.937rem;
    }

    .pixta-90558733-m-icon {
        width: 19.375rem;
        height: 14.531rem;
        object-fit: cover;
    }

    .group-wrapper16 {
        max-width: 21.875rem;
        padding: 1.25rem;
        width: 100%;
    }

    .b97 {
        font-size: 1.125rem;
    }

    .section22 {
        height: unset;
    }

    .group-parent92 {
        position: unset;
    }

    .group-parent94 {
        font-size: 1rem;
    }

    .div42 {
        font-size: 0.875rem;
        line-height: 1.5rem;
        font-weight: 500;
    }

    .parent54 {
        height: 3.063rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 0.937rem;
    }

    .group-parent116 {
        font-size: 0.875rem;
    }

    .group-parent114 {
        padding: 1.25rem;
    }

    .parent55 {
        padding-left: 1rem;
        gap: 1.25rem;
    }

    .accordion-content-grid {
        gap: 1.25rem;
    }

    .section3 {
        height: 8.625rem;
    }

    .section3 .parent29 {
        height: 8.625rem;
    }

    .section3 .btn-gr {
        height: 8.625rem;

    }

    .group-parent126 {
        flex-direction: column;
        gap: 1.25rem;
        height: unset
    }

    .group-parent127 {
        align-items: center;
        position: relative;
    }

    .parent65 {
        display: none;
    }

    .group-parent128 {
        align-items: center;
        height: unset;

    }

    .group-parent125 {
        margin-top: 1.25rem;
        gap: 1.563rem;
        height: unset;
    }

    .div67, .div68 {
        position: relative;
        margin-top: 10px;
    }

    #logo-close {
        display: block;
    }

    #logo-show {
        display: none;
    }

    .section24 {
        background-image: url(../img/section5-bg-sp.svg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        height: unset;
        margin-top: 0.625rem;
        align-self: flex-start;
    }

    .group-parent98 {
        margin-top: 3.125rem;
        gap: 1.25rem;
    }

    .group-parent103 {
        margin: 1.25rem;
        min-height: 22.375rem;
    }

    .path-165-parent img {
        width: 17.813rem;
    }

    .group-wrapper20 {
        max-width: 18rem;
        margin-right: 1.25rem;
    }

    .b105 {
        font-size: 1.125rem;
    }

    .div47, .div48 {
        font-size: 0.875rem;
        font-weight: normal;
        line-height: 1.5rem;
    }

    .kn {
        font-size: 1rem;
    }

    .parent38 {
        gap: 1rem;
    }

    .ads-img5 {
        top: -1.5rem;
        left: 1.25rem;
        width: 121.6px;
        height: 80px;
    }

    .ads-img6 {
        top: 3rem;
        right: 1.25rem;
        left: unset;
        width: 84px;
        height: 45px;
    }

    .slick-next {
        right: 0 !important;
    }

    .parent67 {
        width: unset !important;
    }

    .b76 {
        font-size: 1.688rem;
    }

    .b104 {
        font-size: 1.375rem;
    }

    .parent33 {
        font-size: 1.125rem;
    }

    .section4 {
        height: 23.75rem;
    }

    .pxta-middle .pixta-97717616-m-icon {
        position: absolute;
        top: 0px;
        left: calc(50% + 43px);
        border-radius: 156px;
        width: 132px;
        height: 132px;
        object-fit: cover;
    }

    .pxta-middle .group-parent86 {
        position: absolute;
        top: calc(50% - 51px);
        left: 0px;
        width: 242px;
        height: 102px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
    }

    .pxta-middle .group-child98 {
        position: relative;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-right: 16px;
    }

    .pxta-middle .group-child99 {
        position: relative;
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        margin-top: -4px;
        margin-right: 3px;
    }
}
